{% extends 'base.html' %}
<!-- {% load custom_filters %} -->
{% load crispy_forms_tags %}
{% block title_block %} {{blog.blog_title}} {% endblock title_block %}
{% block body_block %}
    <div class="row">
        <div class="col-sm-6">
            <h2>{{blog.blog_title}}</h2>
            <h4>Posted By: @{{blog.author}}</h4>
            <h6><i>Published On: {{blog.publish_date}}</i></h6>
            <h6><i>Updated On: {{blog.update_date}}</i></h6>
            <h6><i>{{blog.liked_blog.count}} Likes | {{blog.blog_comment.count}} Comments</i></h6>
        </div>
        <div class="col-sm-6">
            <img src="/media/{{blog.blog_image}}" alt="" width="50%">
        </div>
        <p>
            {{blog.blog_content|striptags|linebreaks}}
        </p>
        <hr>
    </div>

        {% if not liked %}
        <a href="{% url 'Blog_App:liked_post' pk=blog.pk %}">
           <i class="fa-solid fa-thumbs-up fa-2x"></i>
        </a>
        {% else %}
        <a href="{% url 'Blog_App:unliked_post' pk=blog.pk %}">
            <i class="fa-solid fa-thumbs-down fa-2x"></i>
        </a>
        {% endif %}

    <div class="row">
        <div class="col-sm-6">
            <hr>
            <h5>Comments</h5>
            {% for comment in blog.blog_comment.all  %}
            <p><a href="#">@{{comment.user}}</a> {{comment.comment}} <br> <h6>{{comment.comment_date}}</h6>
            <hr>
            </p>
            {% endfor %}
        </div>
        <div class="col-sm-6">
            <form method="POST">
                {{comment_form|crispy}}
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-primary">Comment</button>
            </form>
        </div>
    </div>




{% endblock body_block %}
        
